﻿@model MovieCatalogFromScratch.Models.Movie
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-xs-6">
        <h2>Edit Your Movie</h2>
        @using (Html.BeginForm("Edit", "Movie", FormMethod.Post))
        {
            @Html.HiddenFor(m=>m.MovieId)
            <div class="form-group">
                <label class="control-label">Title</label>
                @Html.TextBoxFor(m=>m.Title, new { @class="form-control"})
            </div>
            <div class="form-group">
                <label class="control-label">Stars</label>
                @Html.TextBoxFor(m=>m.stars, new { @class="form-control"})
            </div>
            <div class="form-group">
                <label class="control-label">Rating</label>
                @Html.TextBoxFor(m=>m.Rating, new { @class="form-control"})
            </div>

            <button class="btn btn-primary">Save</button>
        }
    </div>
</div>


