﻿
@{
    ViewBag.Title = "Index";
}

<div class="row" ng-app="movies">
    <div class="col-sm-12" ng-view></div>
</div>

@section scripts
{
    <script src="~/Scripts/app/movieModule.js"></script>
    <script src="~/Scripts/app/movieFactory.js"></script>
    <script src="~/Scripts/app/ListCtrl.js"></script>
    <script src="~/Scripts/app/CreateCtrl.js"></script>
    <script src="~/Scripts/app/EditCtrl.js"></script>
}
