﻿body {
    /*/background-color: lightblue*/

    /*background-image: url("http://i.imgur.com/7SqL0BC.jpg");*/

}


/*table tr:hover {
  font-size: 1.2em;
}*/

/*Just playing around with styles...nothing permanent*/

#notification {
    position:fixed;
    top:40px; /* Set to 0 or wherever */
    width:95%; /* set to 100% if space is available */
    z-index:105;
    text-align:center;
    font-weight:normal;
    font-size:14px;
    font-weight:bold;
    color:white;
    background-color:#FF7800;
    padding:5px;
}
#notification span.dismiss {
    border:2px solid #FFF;
    padding:0 5px;
    cursor:pointer;
    float:right;
    margin-right:10px;
}
#notification a {
    color:white;
    text-decoration:none;
    font-weight:bold
}