﻿@model List<Phonebook.Models.Contact>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-xs-12">
        <div class="page-header">
            @Html.ActionLink("Add a contact", "Add", "Contact", new { @class = "btn btn-default" })
        </div>
        <h1>Contact List</h1>
        @if (Model.Any())
        {
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Phone Number</th>
                        <th>Email</th>
                        <th>Friend Rating</th>
                        <th>Star Power</th>
                        <th>Id</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var contact in Model)
                    {
                        <tr>
                            <td>@Html.ActionLink(contact.FirstName, "Edit", "Contact", new { id = contact.id }, null)</td>
                                        <td>@contact.LastName</td>
                                        <td>@contact.PhoneNumber</td>
                                        <td>@contact.Email</td>
                                        <td>@contact.FriendRating</td>
                                        <td>
                                            @for (int i = 0; i < contact.StarPower; i++)
                                        {
                                            <img src="~/Images/Star.jpg" />
                                        }
                                    </td>
                                    <td>@contact.id</td>
                                    <td>
                                        <form action="@Url.Action("DeleteContact", "Contact", new {id=@contact.id})" method="post">
                                            <button class="btn btn-danger" onclick="return confirm('Are you sure you want to delete @contact.FirstName @contact.LastName');">X</button>
                                        </form>
                                    </td>
                                </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <p>There are no contacts, go make some friends!</p>
        }
    </div>
</div>
