li
	{
		color: dark gray;
		font-style: italic;
	}
/*
	th
	{
		background-color:#ddd;
	}
td
{
	font-style: italic;
	background-color: tan;
}
*/
a
{
	text-decoration: none;
	
}
a:link
{
	
}
a:visited
{
	background-color: red;
}
a:hover
{
	text-decoration: underline;
	background-color: red;
}
a:active
{
	
}