#starting_bet_label
{
	font-weight: bold;
}
#betButton
{
	height: 50px; 
	width: 150px;
	background-color: #b3b3b3;
}
#results_box
{
	background: #e6e6e6;
	margin: 10px 660px;
	padding: 10px 40px 30px 40px;
}
#results_heading
{
	text-align: center;
	font-size: 170%;
	font-weight: bold;
	text-decoration:  underline;
}
#results_table
{
	margin-left: auto;
	margin-right: auto;
	background-color: #e6e6e6;
	height: 300px;
	width: 340px;					
}
#title
{
	text-align: center;
	font-weight: 900;
}
#00
{
	font-weight: 800;					
}
#row1
{
	background-color: #b3b3b3;
	font-weight: bold;
}
#row2 #row3 #row4
{
	background-color: #e6e6e6;
}
td
{
	padding-left: 10px;
	border: solid 1px white;
	width: 50px;
	text-align: left;					
	height: 20px;				
	font-size: 16px;					
}