
h6
{
	background: #C29D4E;
}
#java
{
	text-align= center;
}
#name
{
	font-family: "Dancing Script";
}
#history
{
	font-family: 'Old Standard TT', serif;
}
#menu
{
	background: #EECD86;
}
#new_color
{
	background: #C29D4E;
}
#labels
{
	font-weight: bold;
}
#not_bold
{
	font-weight: normal;
}
#footer
{
	font-family: "Lato";
	text-align: center;
	width: 50%;
	margin: auto;
}
a
{
	text-decoration: none;
	font-weight: normal;
	background-size: 20% 50%;
	background: none;
	color: White;
}
a:visited
{
	color: Gray;
	font-weight: normal;
}
a:hover
{
	font-weight: bold;
}
a:active
{
	text-decoration: none;
}
caption
{
	font-weight: bold;
	font-size: 20px;
}
#beverages
{
	width: 30%;
	margin-left: auto;
	margin-right: auto;
	border-style: none;
}
td
{
	border:none;
}