﻿@model RSVPSample.Models.RsvpResponse

@{
    ViewBag.Title = "RegistrationConfirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-xs-12">
        <h1>Thank you, @Model.Name</h1>
        @if (Model.WillAttend.Value)
        {
            <p>It's great you're coming! Looking forward to playing @Model.FavoriteGame with you!</p>
        }
        else
        {
            <p>Sorry you couldn't make it this time.</p>
        }
    </div>
</div>

