﻿@model RSVPSample.Models.RsvpResponse

@{
    ViewBag.Title = "RegistrationForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-xs-6">
        <h3>Games Night RSVP Form</h3>
        @*<form id="rsvpForm" method="post" action="/Home/RegistrationForm"></form>*@
        @using (Html.BeginForm("RegistrationForm2", "Home", null, FormMethod.Post, new { id = "rsvpForm" }))
        {
            <div class="form-group">
                <label>Your Name:</label>
                @Html.TextBoxFor(m=>m.Name, new { @class="form-control"})
            </div>
            <div class="form-group">
                <label>Your Email:</label>
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label>Your Phone:</label>
                @Html.TextBoxFor(m => m.Phone, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label>Your Favorite Game:</label>
                @Html.TextBoxFor(m => m.FavoriteGame, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label>Will you attend?</label>
                @Html.DropDownListFor(m=>m.WillAttend,
                    new[]
                    {
                        new SelectListItem {Text="Yes", Value = bool.TrueString },
                        new SelectListItem {Text="No", Value= bool.FalseString }
                    }, "Choose an option", new { @class = "form-control" }) @*default text*@
            </div>
            <input type="submit" value="Submit RSVP" class="btn btn-primary" />
        }
    </div>
</div>

@section Scripts
    {
        <script src="~/scripts/jquery.validate.min.js"></script>
        <script src="~/scripts/app/jquery-validate-defaults.js"></script>
        <script src="~/scripts/app/rsvpValidation.js"></script>
    }