﻿<div class="col-sm-5">
    <form name="movieDetail" role="form">
        <div class="form-group" ng-class="{has-error: movieDetail.Title.$invalid && !movieDetail.Title.$pristine}">
            <label>Title</label>
            <input type="text" class="form-control" id="Title" name="Title" ng-model="movie.Title" required />
            <span ng-show="movieDetail.Title.$error.required && !movieDetail.Title.$pristine" class="help-block text-danger">
                Required
            </span>
        </div>
        <div class="form-group" ng-class="{has-error: movieDetail.ReleaseYear.$invalid && !movieDetail.ReleaseYear.$pristine}">
            <label>Release Year</label>
            <input type="text" class="form-control" id="ReleaseYear" name="ReleaseYear" ng-model="movie.ReleaseYear" required number />
            <span ng-show="movieDetail.ReleaseYear.$error.required && !movieDetail.ReleaseYear.$pristine" class="help-block text-danger">
                Required Number
            </span>
        </div>
        <div class="form-group">
            <label>Cast</label>
            <input type="text" class="form-control" id="Cast" name="Cast" ng-model="movie.CastList" />
        </div>
        <a href="#/" class="btn">Cancel</a>
        <button ng-click="save()" ng-disabled="movieDetail.$invalid"
                class="btn btn-primary">
            Save
        </button>
        <button ng-click="delete()"
                ng-show="showDelete" class="btn btn-danger">
            Delete
        </button>
    </form>    
</div>
