﻿<input type="text" ng-model="search" placeholder="Search">
<table class="table table-striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>Release Year</th>
            <th>Cast</th>
            <th><a href="#/new"><i class="glyphicon glyphicon-plus-sign"></i></a></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="movie in movies | filter:search | orderBy:'ReleaseYear'">
            <td>{{movie.Title}}</td>
            <td>{{movie.ReleaseYear}}</td>
            <td>
                <ul>
                    <li ng-repeat="member in movie.Cast">{{member}}</li>
                </ul>            
            </td>
            <td>
                <a href="#/edit/{{movie.MovieId}}"><span class="glyphicon glyphicon-pencil"></span></a>
            </td>
        </tr>
    </tbody>
</table>