﻿
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div id="myDiv"></div>


@section scripts{
    <script type="text/javascript">
        $(document).ready(function() {
            alert("Hello");
            $('#myDiv').html('<button id="myButton">Do Something</button>');
            $('#myButton').click(function() {
                alert("HI");
            });

        });
    </script>
}