﻿@model List<MovieCatalog.Models.Movie>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
      <div class="row">
        <div class="col-xs-6">
        <h1>Movie List</h1>
            @Html.ActionLink("Add a movie", "Add", "Movie")

            @if(Model.Any())
            { 
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Rating</th>
                        <th>Stars</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var movie in Model)
                    {
                        <tr>
                            <td>@Html.ActionLink(movie.Title, "Edit", "Movie", new { id = movie.MovieId }, new { @class = "warning", @title = movie.Title + ":" + movie.Rating })</td>
                            <td>@movie.Rating</td>
                            <td>@for (int i = 0; i<movie.Stars; i++)
                                {
                                    <img src="~/Img/Star.jpg" />
                                }
                            </td>
                            <td>
                                <form action="@Url.Action("Delete", "Movie", new { id = @movie.MovieId })" method="post">
                                    <button class="btn btn-danger" onclick="return confirm('Are you sure you want to delete @movie.Title');">X</button>
                                    @Html.AntiForgeryToken()                                
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            }
            else
            {
                <p>You have no movies, sad face.</p>
            }

            @Html.Partial("_Actor")
            </div>
        </div>
@section scripts{
    <script>
        alert("Hello!");
    </script>
            
    }
@section header{
    <h1>SG Movie Catalogue</h1>
    }
