﻿
@{
    ViewBag.Title = "CascadingDropdowns";
}

<div ng-app="cascadingDropdowns" ng-controller="dropdownsController">
    <div class="row">
        <div class="col-xs-12">
            <h2>Cascading Dropdowns</h2>
            <p>This shows how to use angular to load cascading dropdowns from WebAPI</p>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-4">
            <form>
                <div class="form-group">
                    <label>Conversion Type</label>
                    <select ng-model="selectedConversionType"
                            ng-options="conversionType.ConversionTypeName for conversionType in conversionTypes"
                            ng-change="updateUnits()"
                            class="form-control">
                        <option value="">- SELECT -</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Conversion Units</label>
                    <select ng-model="selectedUnit"
                            ng-options="unit.UnitName for unit in units"
                            class="form-control"></select>
                </div>
            </form>
        </div>
    </div>
</div>


@section scripts {
    <script>
        var app = angular.module('cascadingDropdowns', []);
        var url = '/api/ConversionApi/';

        app.factory('typesApi', function ($http) {
            var factory = {};

            factory.getTypes = function() {
                return $http.get(url);
            }

            factory.getUnits = function(conversionTypeId) {
                return $http.get(url + conversionTypeId);
            }

            return factory;
        });

        // inject $scope and our typesApi object which we configured with the http calls to the web api
        app.controller('dropdownsController', function ($scope, typesApi) {
            // load the conversion types right away
            typesApi.getTypes()
                .success(function(data) {
                    $scope.conversionTypes = data;
                });

            $scope.updateUnits = function () {
                // in the dropdown we set the model for the picked item to selectedConversionType, so we can use it here
                typesApi.getUnits($scope.selectedConversionType.ConversionTypeId)
                    .success(function(data) {
                        $scope.units = data;
                        $scope.selectedUnit = $scope.units[0]; // set the dropdown to the first choice
                });
            }
        });
    </script>
}

