﻿@model DVDLibrary.Models.AddMovieVM
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-header">
    <h1>Edit Movie</h1>
</div>


@using (Html.BeginForm("Edit", "DVD", FormMethod.Post))
{
    @Html.HiddenFor(m => m.Movie.MovieID)
    <div class="row">
        <div class="col-xs-12">
            <div class="form-group">
                <p>@Html.ValidationMessageFor(m => m.Movie.Title)</p>
                <label class="control-label">Title</label>
                @Html.TextBoxFor(m => m.Movie.Title, new { @class = "form-control" })
            </div>
        </div>
    </div>
            <div class="row">
                <div class="col-xs-6">
                    <div class="form-group">
                        <label class="control-label">Studio</label>
                        @Html.TextBoxFor(m => m.Movie.Studio, new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="form-group">
                        <p>@Html.ValidationMessageFor(m => m.Movie.UserRatingId)</p>
                        <label class="control-label">User Rating</label>
                        @Html.DropDownListFor(m => m.Movie.UserRatingId, Model.StarList, Model.Movie.UserRatingId.ToString(), new { @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <div class="form-group">
                        <p>@Html.ValidationMessageFor(m => m.Movie.ReleaseDate)</p>
                        <label class="control-label">Release Date</label>
                        @Html.TextBoxFor(m => m.Movie.ReleaseDate, "{0:yyyy-MM-dd}", new { @class = "form-control", type="date" })
                        @*<input type="text" class="form-control" />*@
                   </div>
                </div>
                <div class="col-xs-6">
                    <div class="form-group">
                        <label class="control-label">User Notes</label>
                        @Html.TextBoxFor(m => m.Movie.UserNotes, new { @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <div class="form-group">
                        <p>@Html.ValidationMessageFor(m => m.Movie.MPAARatingId)</p>
                        <label class="control-label">MPAA Rating</label>
                        @Html.DropDownListFor(m => m.Movie.MPAARatingId, Model.RatingList, Model.Movie.MPAARatingId.ToString(), new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="form-group">
                        <label class="control-label">Actors</label>
                        @Html.TextBoxFor(m => m.Movie.Actors, new { @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <div class="form-group">
                        <label class="control-label">Director Name</label>
                        @Html.TextBoxFor(m => m.Movie.DirectorName, new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="form-group">
                        <label class="control-label">Borrower Name</label>
                        @Html.TextBoxFor(m => m.Movie.BorrowerName, new { @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <div class="form-group">
                        <label class="control-label">Date Borrowed</label>
                        @Html.TextBoxFor(m => m.Movie.DateBorrowed, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date", name = "date" })
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="form-group">
                        <label class="control-label">Date Returned</label>
                        @Html.TextBoxFor(m => m.Movie.DateReturned, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date", name = "date" })
                    </div>
                </div>
            </div>

                <div class="col-xs-6">
                    <div class="form-group">
                        <button class="btn btn-success" type="submit">Save</button>
                    </div>
                </div>
}


<div class="row">
    <div class="col-xs-4">
        <div class="form-group">
            <form action="@Url.Action("Index", "Home")">
                <button class="btn btn-primary" type="submit">Cancel</button>
            </form>
        </div>
    </div>
</div>



