﻿@model DVDLibrary.Models.Movie

@{
    ViewBag.Title = "Get";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="page-header">
    <h1>@Model.Title</h1>
</div>

<table class="table table-condensed table-striped">
    <thead>
        <tr>
            <th colspan="2" align="center">Movie Details</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Release Date:</td>
            <td>@Model.ReleaseDate.ToString("d")</td>
        </tr>
        <tr>
            <td>MPAA Rating:</td>
            <td>@Model.MovieMPAARating.MPAARating</td>
        </tr>
        <tr>
            <td>Actors:</td>
            <td>@Model.Actors</td>
        </tr>
        <tr>
            <td>Director(s):</td>
            <td>@Model.DirectorName</td>
        </tr>
        <tr>
            <td>Studio:</td>
            <td>@Model.Studio</td>
        </tr>
        <tr>
            <td>Viewer Rating:</td>
            <td>@Model.MovieUserRating.UserRating</td>
        </tr>
        <tr>
            <td>Borrower:</td>
            <td>@Model.BorrowerName</td>
        </tr>
        <tr>
            <td>Date Borrowed:</td>
            <td>@Model.DateBorrowed</td>
        </tr>
        <tr>
            <td>Date Returned:</td>
            <td>@Model.DateReturned</td>
        </tr>
    </tbody>
</table>

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-title">
            Viewer Notes
        </div>
    </div>
    <div class="panel-body">
        @Model.UserNotes
    </div>
</div>

<div class="col-xs-6">
    <form action="@Url.Action("Index", "Home")">
        <button class="btn btn-primary" type="submit">Return</button>
    </form>
</div>
