﻿@model List<AddressBookWebApp.Models.Contact>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div class="row">
        <div class="col-xs-12">
            <h2>Address Book</h2>
            @Html.ActionLink("Add a Contact", "Add", "Contact")

            @if (Model.Any())
            {
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Phonenumber</th>
                            <th>Address</th>
                            <th>Email</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var contact in Model)
                        {
                            <tr>
                                <td>@Html.ActionLink(contact.FirstName, "Edit", "Contact", new { id = contact.Id }, null)</td>
                                <td>@contact.LastName</td>
                                <td>@contact.PhoneNumber</td>
                                <td>@contact.Address</td>
                                <td>@contact.Email</td>
                                <td>
                                    <form action="@Url.Action("Delete", "Contact", new { id = @contact.Id})" method="post">
                                        <button class="btn btn-danger" onclick="return confirm('Are you sure you want to delete @contact.FirstName');">X</button>
                                    </form>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <p>You have no contacts in your address book, go make some friends!</p>
            }
        </div>
    </div>


