﻿@model List<DVDLibrary.Models.Movie>

@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <div id="notification" style="display: none;">
        <span class="dismiss"><a title="dismiss this notification">X</a></span>
    </div>

    <div class="page-header">
        <h1>DVD Library</h1>
    </div>

    <div class="row">
        <div class="col-xs-offset-8 col-xs-4">
            @using (Html.BeginForm("Index", "Home"))
            {
                <p>Title: @Html.TextBox("searchString") <button type="submit" class ="btn btn-primary"><span class="glyphicon glyphicon-search"></span></button></p>
            }
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <table class="table table-condensed table-striped">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Rating</th>
                        <th>User Rating</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var movie in Model)
                    {
                        <tr>
                            <td>@Html.ActionLink(movie.Title, "Get", "DVD", new { id = movie.MovieID }, null)</td>
                            <td data-toggle="tooltip" title="@movie.MovieMPAARating.MPAADescription">@movie.MovieMPAARating.MPAARating</td>
                            <td data-toggle="tooltip" title="@movie.MovieUserRating.UserRatingDescription">
                                @for (int i = 0; i < movie.MovieUserRating.UserRating; i++)
                                {
                                    <img src="~/Images/gold-star.jpg"/>
                                }
                            </td>
                            <td>
                                <form action="@Url.Action("Edit", "DVD", new { id = movie.MovieID })" method="get">
                                    <button class="btn-sm btn-primary">Edit</button>
                                </form>
                            </td>
                            <td>
                                <form action="@Url.Action("Delete", "DVD", new { id = movie.MovieID })" method="post" onsubmit="return confirm('Are you sure you want to delete this DVD?')">
                                    <button class="btn-sm btn-danger">Delete</button>
                                    @*btn btn-sm*@
                                </form>

                                <script>
                                    function confirmDelete() {

                                        confirm("Are you sure you want to delete this DVD?")
                                    }
                                </script>

                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        

        </div>
    </div>

    <div class="row">
        <div class="col-xs-5">
        </div>
        <div class="col-xs-2">
            <form action="@Url.Action("Add", "DVD")">
                <button class="btn btn-default">Add a Movie</button>
            </form>
        </div>
    </div>
</div>



