﻿@model ModelBindingExample.Models.Person

@{
    ViewBag.Title = "BindingClassTypes";
}

<h2>BindingClassTypes</h2>

@using (Html.BeginForm("BindingClassTypes", "Home", FormMethod.Post))
{
    <div class="form-group"><label>Person Id</label></div>
    @Html.TextBoxFor(m => m.PersonId, new { @class = "form-control" })
    @*<input type ="text" class="form-control" name="PersonId"*@

    <div class="form-group"><label>First Name</label></div>
    @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
    @*<input type ="text" class="form-control" name="FirstName"*@

    <div class="form-group"><label>Last Name</label></div>
    @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
    @*<input type ="text" class="form-control" name="LastName"*@
    <button >Push me</button>
}