﻿
@{
    ViewBag.Title = "Index";
}


<div class="row" ng-app="blackjack" ng-controller="playingCardCtrl">
    <div class="col-xs-12">
        <h2>Black Jack</h2>
        <div class="row">
            <h3>Your Hand:</h3>
            <div class="col-xs-1" ng-repeat="card in hand track by $index">
                <img ng-src="{{card.Image}}" />
            </div>
        </div>
        <div class="row">
            <div class="col-xs-2"><button class="btn btn-success" ng-click="hit()" ng-disabled="isGameOver">Hit</button></div>
            <div class="col-xs-2 col-xs-offset-1"><button class="btn btn-warning" ng-click="stay()">Stay</button></div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <p ng-show="showScore">Your current hand total is {{totalScore}}</p>
                <p class="text-danger" ng-show="busted">You are busted!</p>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script>
        var app = angular.module('blackjack', []);

        app.factory('cardApi', function($http) {
            var factory = {};
            var url = '/api/PlayingCardApi/';

            factory.getAll = function() {
                return $http.get(url);
            }

            return factory;
        });

        app.controller('playingCardCtrl', function ($scope, cardApi) {
            $scope.hand = [];
            $scope.busted = false;
            $scope.showScore = false;
            var cardIdsUsed = [];
            $scope.isGameOver = false;

            $scope.hit = function() {
                var isUnique = false;
                while (!isUnique) {

                    var index = Math.floor(Math.random() * 8);
                    console.log('random index: ' + index);
                    var found = false;
                    for (var i = 0; i < cardIdsUsed.length; i++) {
                        if (cardIdsUsed[i] == index)
                            found = true;
                    }

                    if (!found) {
                        isUnique = true;
                        $scope.selectCard($scope.cards[index]);
                        cardIdsUsed.push(index);
                    }
                        
                }
            }

            $scope.selectCard = function (card) {
                $scope.hand.push(card);
                $scope.showScore = true;

                $scope.totalScore = 0;
                for (var i = 0; i < $scope.hand.length; i++) {
                    $scope.totalScore = $scope.totalScore + $scope.hand[i].Score;
                }

                if ($scope.totalScore > 21) {
                    $scope.busted = true;
                    $scope.isGameOver = true;
                }
                else
                    $scope.busted = false;
            }

            cardApi.getAll()
                .success(function (cards) {
                    $scope.cards = cards;
                    // draw initial hand
                    $scope.hit();
                    $scope.hit();
                });
        });
    </script>
    
}

