﻿@model AppointmentMaker.Models.Appointment

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Completed</title>
</head>
<body>
    <div> 
        <h4>Your appointment is confirmed</h4>
        <p>Your name is: <b>@Html.DisplayFor(m=>m.ClientName)</b></p>
        <p>The date of your appointment is: <b>@Html.DisplayFor(m=>m.Date)</b></p>
    </div>
</body>
</html>
