﻿@model AppointmentMaker.Models.Appointment

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MakeBooking</title>
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body>
    <div> 
        <h4>Book an Appointment</h4>
        @using (Html.BeginForm())
        {
            @Html.ValidationSummary(true) //Only puts errors that apply to the entire page at the top--the Garfield example in this case because of ""
            
            <p>@Html.ValidationMessageFor(m=>m.ClientName)</p>
            <p>Your name: @Html.EditorFor(m=>m.ClientName)</p>

            <p>@Html.ValidationMessageFor(m=>m.Date)</p>
            <p>Appointment Date: @Html.EditorFor(m=>m.Date)</p>

            <p>@Html.ValidationMessageFor(m=>m.TermsAccepted)</p>
            <p>@Html.EditorFor(m=>m.TermsAccepted) I accept the terms & conditions</p>

            <button>Make Booking</button>
        }
    </div>
</body>
</html>
