﻿@{
    ViewBag.Title = "Index";
}

<div ng-app="movieModule">
    <div class="row">
        <h2>All Movies</h2>
        <div class="col-xs-12" ng-controller="movieController">
            <button class="btn btn-success" ng-click="addMovie()">Add Movie</button>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Rating</th>
                        <th>Run Time</th>
                        <th>Release Date</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="movie in movies">
                        <td>{{movie.Title}}</td>
                        <td>{{movie.Rating}}</td>
                        <td>{{movie.RunTime}}</td>
                        <td>{{movie.ReleaseDate}}</td>
                        <td>
                            <button class="btn btn-primary" ng-click="editMovie(movie.MovieID)">Edit</button>
                            <button class="btn btn-danger" ng-click="deleteMovie(movie.MovieID, movie.Title)">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>

    <script type="text/ng-template" id="EditMovie.html">
        <div class="modal-header">
            <h3 class="modal-title">Edit Movie</h3>
        </div>
        <div class="modal-body">
            <input type="hidden" ng-model="movieToEdit.MovieID" />
            <div class="form-group">
                <label>Title</label>
                <input type="text" ng-model="movieToEdit.Title" class="form-control" />
            </div>
            <div class="form-group">
                <label>Rating</label>
                <input type="text" ng-model="movieToEdit.Rating" class="form-control" />
            </div>
            <div class="form-group">
                <label>Run Time</label>
                <input type="text" ng-model="movieToEdit.RunTime" class="form-control" />
            </div>
            <div class="form-group">
                <label>Release Date</label>
                <input type="text" ng-model="movieToEdit.ReleaseDate" class="form-control" />
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">Save</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </script>

    <script type="text/ng-template" id="AddMovie.html">
        <div class="modal-header">
            <h3 class="modal-title">Add Movie</h3>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label>Title</label>
                <input type="text" ng-model="movieToAdd.Title" class="form-control" />
            </div>
            <div class="form-group">
                <label>Rating</label>
                <input type="text" ng-model="movieToAdd.Rating" class="form-control" />
            </div>
            <div class="form-group">
                <label>Run Time</label>
                <input type="text" ng-model="movieToAdd.RunTime" class="form-control" />
            </div>
            <div class="form-group">
                <label>Release Date</label>
                <input type="text" ng-model="movieToAdd.ReleaseDate" class="form-control" />
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">Save</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </script>
</div>


@section scripts
{
    <script src="~/scripts/angular-ui/ui-bootstrap-tpls.min.js"></script>
    <script>
        var app = angular.module('movieModule', ['ui.bootstrap']);

        app.factory('movieApi', function ($http) {
            var factory = {};
            var url = '/api/MovieApi/';

            factory.getAllMovies = function () {
                return $http.get(url);
            };

            factory.getMovie = function (id) {
                return $http.get(url + id);
            }

            factory.updateMovie = function(movie) {
                return $http.put(url, movie);
            }

            factory.deleteMovie = function(id) {
                return $http.delete(url + id);
            }

            factory.addMovie = function(movie) {
                return $http.post(url, movie);
            }

            return factory;
        });

        app.controller('movieController', function ($scope, movieApi, $modal) {
            $scope.loadMovies = function () {
                movieApi.getAllMovies()
                    .success(function (data) {
                        $scope.movies = data;
                    })
                    .error(function(data, status) {
                        alert(data + ': ' + status);
                });
            };

            $scope.deleteMovie = function(id, title) {
                if (confirm('Are you sure you want to delete ' + title + '?')) {
                    movieApi.deleteMovie(id)
                        .success(function() {
                            $scope.loadMovies();
                    });
                }
            };

            $scope.editMovie = function (id) {
                movieApi.getMovie(id)
                    .success(function(data) {
                        var editModal = $modal.open({
                            templateUrl: 'EditMovie.html',
                            controller: 'editMovieController',
                            resolve: {
                                movieToEdit: function () {
                                    return data;
                                }
                            }
                        });

                        editModal.result.then(function () {
                            $scope.loadMovies();
                        });
                    })
                    .error(function (data, status) {
                        alert(data + ': ' + status);
                    });
            }

            $scope.addMovie = function () {
                var addModal = $modal.open({
                    templateUrl: 'AddMovie.html',
                    controller: 'addMovieController'
                });

                addModal.result.then(function () {
                    $scope.loadMovies();
                });
            }

            $scope.loadMovies();
        });

        app.controller('addMovieController', function ($scope, $modalInstance, movieApi) {
            $scope.ok = function () {
                movieApi.addMovie($scope.movieToAdd)
                    .success(function () {
                        $modalInstance.close();
                    })
                    .error(function (data, status) {
                        alert(data + ': ' + status);
                    });
            };

            $scope.cancel = function () {
                $modalInstance.dismiss('cancel');
            };
        });

        app.controller('editMovieController', function($scope, $modalInstance, movieApi, movieToEdit) {
            $scope.movieToEdit = movieToEdit;

            $scope.ok = function () {
                movieApi.updateMovie($scope.movieToEdit)
                    .success(function () {
                        $modalInstance.close();                   
                    })
                    .error(function (data, status) {
                        alert(data + ': ' + status);
                    });
            };

            $scope.cancel = function () {
                $modalInstance.dismiss('cancel');
            };
        });
    </script>
}
