﻿@model PhonebookRevamped.Models.AddContactVM

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-xs-6">
        <form action="/Contact/PostContact" method="post">
            <div class="form-group">
                <label class="control-label">First Name</label>
                @Html.TextBoxFor(m => m.Contact.FirstName, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label class="control-label">Last Name</label>
                @Html.TextBoxFor(m => m.Contact.LastName, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label class="control-label">Phone Number</label>
                @Html.TextBoxFor(m => m.Contact.PhoneNumber, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label class="control-label">Email</label>
                @Html.TextBoxFor(m => m.Contact.Email, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label class="control-label">Friend Rating</label>
                @Html.DropDownListFor(m => m.Contact.FriendRating, Model.FriendRating, "-SELECT-", new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label class="control-label">Star Power</label>
                @Html.DropDownListFor(m => m.Contact.StarPower, Model.StarPower, "-SELECT-", new { @class = "form-control" })
            </div>
            <button class="btn btn-primary">Save</button>
        </form>
    </div>
</div>
