﻿@model PhonebookRevamped.Models.Contact

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-xs-6">
        <h1>Edit Contact</h1>
        @using (Html.BeginForm("Edit", "Contact", FormMethod.Post))
        {
            <div class="form-group">
                @Html.LabelFor(m => m.FirstName, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.LastName, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.PhoneNumber, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Email, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.FriendRating, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.FriendRating, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.StarPower, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.StarPower, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Id, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.Id, new { @class = "form-control" })
            </div>
            <button class="btn btn-primary">Save</button>
        }
    </div>
</div>
