﻿@model MovieCatalog.Models.AddMovieVM

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


        <div class="row">
            <div class="col-xs-6">
                <form action="/Movie/PostMovie" method="post">
                    <div class="form-group">
                        <label class="control-label">Title</label>
                        @Html.TextBoxFor(m => m.Movie.Title, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label class="control-label">Rating</label>
                        @Html.DropDownListFor(m=>m.Movie.Rating, Model.RatingList, "- SELECT -", new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label class="control-label">Stars</label>
                        @Html.DropDownListFor(m=>m.Movie.Stars, Model.StarList, new { @class="form-control"})
             
                    </div>
                    @*@Html.PasswordFor(m=>m.Movie.Password)*@
                    @Html.RadioButton("Gender", "female", true)
                    @Html.RadioButton("Gender", "female", true)
                    @*@Html.TextAreaFor(m=>m.Movie.Description) Not working*@
                    <button class="btn btn-primary">Save</button>
                </form>
            </div> 
         </div>
