﻿@model MovieCatalog.Models.Movie

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-xs-6">
                <h1>Edit Movie</h1>
                @using(Html.BeginForm("Edit", "Movie", FormMethod.Post))
                {
                    @Html.HiddenFor(m=>m.MovieId)
                    @*<input type="hidden" value="movieId" /> HTML syntax*@

                    <div class="form-group">
                        @Html.LabelFor(m=>m.Title, new { @class="control-label", title=Model.Title})
                        @Html.TextBoxFor(m=>m.Title, new { @class = "form-control"})
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Rating, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.Rating, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Stars, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.Stars, new { @class = "form-control" })
                    </div>
                    <button class="btn btn-primary">Save</button>
                }
            </div>
        </div> 
    </div>
    <script src="~/scripts/jquery-1.9.1.min.js"></script>
    <script src="~/scripts/bootstrap.min.js"></script>
</body>
</html>
