﻿<div class="col-sm-5">
    <form name="contactForm" role="form">
        <div class="form-group">
            <label>First Name</label>
            <label class="control-label text-danger"
                   ng-show="contactForm.$dirty && contactForm.FirstName.$invalid">Please enter your name</label>
            <input type="text" class="form-control" name="FirstName" ng-model="contact.FirstName" required />
        </div>
        <div class="form-group">
            <label>Last Name</label>
            <input type="text" class="form-control" name="LastName" ng-model="contact.LastName" required />
        </div>
        <div class="form-group">
            <label>Email</label>
            <input type="text" class="form-control" name="Email" ng-model="contact.Email" />
        </div>
        <div class="form-group">
            <label>Phone</label>
            <input type="text" class="form-control" name="Phone" ng-model="contact.Phone" />
        </div>
        <a href="#/" class="btn btn-default">Cancel</a>
        <button class="btn btn-primary" ng-click="save()" ng-disabled="contactForm.$invalid">Save</button>
        <button class="btn btn-danger" ng-click="delete()" ng-show="showDelete">Delete</button>
    </form>
</div>
