﻿<h2>My Contacts</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th><a href="#/new"><i class="glyphicon glyphicon-plus-sign"></i></a></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="contact in contacts">
            <td>{{contact.LastName}}, {{contact.FirstName}}</td>
            <td>{{contact.Email}}</td>
            <td>{{contact.Phone}}</td>
            <td><a href="#/edit/{{contact.Id}}"><span class="glyphicon glyphicon-pencil"></span></a></td>
        </tr>
    </tbody>
</table>