﻿@model List<JKNGCapstone.Models.User>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>UserIndex</h2>

<br />
<div class="row">
    <div class="col-md-9">
        <table class="table table-condensed table table-striped">
            <thead>
                <tr>
                    <th>UserName</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model)
                {
                    <tr>
                        <td>@user.UserName</td>
                        <td>@user.Role</td>
                    </tr>

                }
                <tr></tr>
            </tbody>
        </table>
    </div>
</div>
