﻿@model List<JKNGCapstone.Models.Post>


@if (Model != null)
{
    foreach (var page in Model)
    {
        <li>@Html.ActionLink(page.PostTitle, "Static", "Home", new { id = page.PostId }, null)</li>
    }
}
