﻿@model JKNGCapstone.Models.AddStaticPageVM

@{
    ViewBag.Title = "AddStaticPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section topScripts
{
    <script src="~/scripts/tinymce/tinymce.min.js"></script>
    <!-- Script to wire up your TinyMCE editor -->
    <script type="text/javascript">
        // Initialize your tinyMCE Editor with your preferred options
        tinyMCE.init({
            selector: '#postarea',
            statusbar: false,
            height: 500,
            width: 960
        });
    </script>
}

<div class="page-header">
    <h1 class="page-title">Create a New Static Page</h1>
</div>

@using (Html.BeginForm())
{
    <div class="row">
        <div class="col-xs-12 col-xs-push-1">
            <div class="form-group">
                @Html.HiddenFor(m=>m.post.TagIds, new { TadIds = "1" })
                @Html.HiddenFor(m => m.post.CategoryIds, new { CategoryIds = "1" })
                <label>Title</label>
                <p>@Html.ValidationMessageFor(m => m.post.PostTitle)</p>
                @Html.TextBoxFor(model => model.post.PostTitle, new { id = "titlearea", @class = "form-control wide" })
            </div>
            <div class="form-group">
                
                <label>Body</label>
                <p>@Html.ValidationMessageFor(m => m.post.PostBody)</p>
                @Html.TextAreaFor(model => model.post.PostBody, new { id = "postarea" })
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-8">
            <div class="form-group">
                <center>
                    <button type="submit" class="btn btn-success">Save</button>
                    @Html.ActionLink("Cancel", "StaticIndex", "Blog", null, new { @class = "btn btn-primary" })
                </center>
                <br />
            </div>
        </div>
  </div>

        }
