﻿@model List<JKNGCapstone.Models.Post>

@{
    ViewBag.Title = "AdminIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="text-align:center">Blog Dashboard</h1>
<br />
<br />
<div class="row col-sm-11">
    <div class="col-sm-offset-1">
        <table class="table table-bordered table-hover table-condensed table table-striped">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Date Created</th>
                    <th>Last Status Change</th>
                    <th>Current Status</th>
                    <th>Edit</th>
                    <th>Delete</th>
                    <th>Publish</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var post in Model)
                {
                    if (post.PostStatus.StatusDescription.ToUpper() != "TO-DELETE")
                    {
                    <tr>
                        <td><a href="@Url.Action("Details", "Blog", new { id = post.PostId })">@Html.Raw(post.PostTitle)</a></td>
                        <td>@post.User.UserName</td>
                        <td>@post.DateCreated.ToShortDateString()</td>
                        <td>@post.DatePublished.ToShortDateString()</td>
                        <td>@post.PostStatus.StatusDescription</td>
                        <td>
                            <form action="@Url.Action("Edit", "Blog", new { id = post.PostId })" method="get">
                                <button class="btn btn-primary">Edit</button>
                            </form>
                        </td>
                        <td>
                            <form action="@Url.Action("DeleteBlogPost", "Blog", new { id = post.PostId })" method="post" onsubmit="return confirm('Are you sure you want to delete @post.PostTitle?')">
                                <button class="btn btn-danger">Delete</button>
                            </form>
                        </td>
                        <td>
                            <form action="@Url.Action("PublishBlogPost", "Blog", new { id = post.PostId })" method="post" onsubmit="return confirm('Are you sure you want to publish @post.PostTitle?')">
                                <button class="btn btn-success">Publish</button>
                            </form>
                        </td>
                    </tr>
                    }
                }
                <tr></tr>
            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
            <form action="@Url.Action("Add", "Blog")">
                <button class="btn btn-warning center-block">Add New Blog Post</button>
            </form>     
    </div>
</div>