﻿@model JKNGCapstone.Models.Post

@{
    ViewBag.Title = "Details";
}
<div id="detailspage" class="col-sm-12">
        <h1 id="IndexPageTitles">@Html.Raw(Model.PostTitle)</h1>

        <p>
            @Model.DatePublished.ToShortDateString()&nbsp;&nbsp;&nbsp;&nbsp;
            <text>Categories: </text>
            @foreach (var category in Model.PostCategoryDescription)
            {
                <span class="CatsAndTags">@category.CategoryDescription</span>
            }
            <text>&nbsp;&nbsp;&nbsp;&nbsp;Tags: </text>

            @foreach (var tag in Model.PostTag)
            {
                <span class="CatsAndTags">@tag.TagDescription</span>
            }
        </p>
        <div id="DetailsBody">@Html.Raw(Model.PostBody)</div>
        <br />

        @Html.ActionLink("Return Home", "Index", null, new { id = 1 }, new { @class = "btng sm ghost1" })
   
</div>