﻿@model JKNGCapstone.Models.AddPostVM

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@section topScripts
{
    <script src="~/scripts/tinymce/tinymce.min.js"></script>
    <!-- Script to wire up your TinyMCE editor -->
    <script type="text/javascript">
        // Initialize your tinyMCE Editor with your preferred options
        tinyMCE.init({
            selector: '#postarea',
            statusbar: false,
            //selector: '.myeditablediv',
            //inline: true,
            //plugins: "save",
            //toolbar: "save",
            height: 500,
            width: 960
        });
    </script>
}

@using (Html.BeginForm())
    {
        @Html.HiddenFor(m=>m.Post.PostId, new {@class = "form-control"})
        <div class="row">
        <div class="col-xs-3">
            <div class="form-group">
                @Html.ListBoxFor(m => m.Post.CategoryIds, Model.Category, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.ListBoxFor(m => m.Post.TagIds, Model.Tag, new { @class = "form-control" })
            </div>
        </div>
        <div class="col-xs-9">
            <div class="form-group">
                <p>@Html.ValidationMessageFor(m => m.Post.PostTitle)</p>
                @Html.TextBoxFor(model => model.Post.PostTitle, new { id = "titlearea", @class = "form-control wide" })
            </div>
            <div class="form-group">
                <p>@Html.ValidationMessageFor(m => m.Post.PostBody)</p>
                @Html.TextAreaFor(model => model.Post.PostBody, new { id = "postarea" })
            </div>
        </div>
    </div>

    <div class="row">
        <center>
            <button type="submit" class="btn btn-success">Save</button>
            <button type="reset" class="btn btn-warning">Reset</button>
            @Html.ActionLink("Cancel", "AdminIndex", "Blog", null, new { @class = "btn btn-primary" })
        </center>
    </div>
}