﻿@model JKNGCapstone.Models.Post

@{
    ViewBag.Title = "Static";
}
<div id="staticpage" class="col-sm-12">
    @if (Model != null)
    {
        <h1>@Html.Raw(Model.PostTitle)</h1>

        <div id="DetailsBody">
            @Html.Raw(Model.PostBody)
        </div>
    }
</div>
