﻿@model JKNGCapstone.Models.TagListVM

@{
    ViewBag.Title = "PostsByTag";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div id="CatDetails" class="col-sm-12">
        <div class="page-header">
            <h1 class="page-title">Posts tagged with @Model.tagName</h1>
        </div>

        <div class="row">
            <div class="col-sm-5 col-sm-offset-2">
                <h3>Title</h3>
            </div>
            <div class="col-sm-5">
                <h3>Date Created</h3>
            </div>
        </div>

        @foreach (var post in Model.TaggedPostList)
        {
            <div class="row">
                <div class="col-sm-5 col-sm-offset-2">
                    <h4><a class="TagBlogs" href="@Url.Action("Details", "Blog", new { id = post.PostId })">@Html.Raw(post.PostTitle)</a></h4>
                </div>
                <div class="col-sm-5">
                    <h4>@post.DateCreated.ToShortDateString()</h4>
                </div>
            </div>
        }
        <br />
        <br />

        <div class="row">
            <div class="col-sm-12">
                <center>
                    @Html.ActionLink("Home", "Index", "Blog", null, new { @class = "btn btn-primary" })
                </center>
            </div>
        </div>
        </div>
    </div>



        @*<div class="row col-sm-11">
                <div class="col-sm-offset-1">
                    <table class="table table-bordered table-hover table-condensed table table-striped">
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th>Date Created</th>
                                <th>Last Status Change</th>
                                <th>Edit</th>
                                <th>Delete</th>
                                <th>Publish</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var post in Model.TaggedPostList)
                            {
                                <tr>
                                    <td><a href="@Url.Action("Details", "Blog", new { id = post.PostId })">@Html.Raw(post.PostTitle)</a></td>
                                    <td>@post.DateCreated.ToShortDateString()</td>
                                    <td>@post.DatePublished.ToShortDateString()</td>
                                    <td>
                                        <form action="@Url.Action("Edit", "Blog", new { id = post.PostId })" method="get">
                                            <button class="btn btn-primary">Edit</button>
                                        </form>
                                    </td>
                                    <td>
                                        <form action="@Url.Action("DeleteBlogPost", "Blog", new { id = post.PostId })" method="post" onsubmit="return confirm('Are you sure you want to delete @post.PostTitle?')">
                                            <button class="btn btn-danger">Delete</button>
                                        </form>
                                    </td>
                                    <td>
                                        <form action="@Url.Action("PublishBlogPost", "Blog", new { id = post.PostId })" method="post" onsubmit="return confirm('Are you sure you want to publish @post.PostTitle?')">
                                            <button class="btn btn-success">Publish</button>
                                        </form>
                                    </td>
                                </tr>
                            }
                            <tr></tr>
                        </tbody>
                    </table>
                </div>
            </div>*@

