﻿@model List<MovieCatalogFromScratch.Models.Movie>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
    <div class="row">
        <div class="col-xs-12">
            <h1>Movie List</h1>
            @Html.ActionLink("Add a Movie", "Add", "Movie")

            @if (Model.Any())
            {
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Stars</th>
                            <th>Rating</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach(var movie in Model)
                        {
                            <tr>
                                <td>@Html.ActionLink(movie.Title, "Edit", "Movie",new { id = movie.MovieId }, null) </td>
                                <td>@for (int i = 0; i < movie.stars; i++)
                                {
                                    <img src="~/Images/Star-Full.jpg"/>
                                }</td>
                                <td>@movie.Rating</td>
                                <td>
                                    <form action="@Url.Action("Delete","Movie", new{id=@movie.MovieId})" method="post">
                                        <button class="btn btn-danger" onclick="return confirm('Are you sure you want to delete @movie.Title?');">X</button>
                                    </form>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <p>You don't have any movies</p>
            }
        </div>
    </div>
</body>
