﻿
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div ng-app="change" ng-controller="myCtrl">
    <div class="row">
        <div class="col-xs-6">
            <div class="form-group">
                <label>Spies</label>
                <input type="text" class="form-control" ng-model="spyCount" ng-change="update()" ng-model-options="{ updateOn: 'blur' }" />
            </div>
            <div class="form-group">
                <label>Players</label>
                <input type="text" class="form-control" ng-model="playerCount" ng-change="update()" ng-model-options="{ updateOn: 'blur' }" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <h2>{{totals}}</h2>
        </div>
    </div>
</div>

@section scripts
{
    <script>
        var app = angular.module('change', []);

        app.controller('myCtrl', function($scope) {
            $scope.update = function() {
                $scope.totals = $scope.spyCount * $scope.playerCount;
            };
        });
    </script>
}
