/*!
 * jQCloud
 * Copyright 2011 Luca Ongaro (http://www.lucaongaro.eu)
 * Copyright 2013 Daniel White (http://www.developerdan.com)
 * Copyright 2014 Damien "Mistic" Sorel (http://www.strangeplanet.fr)
 * Licensed under MIT (http://opensource.org/licenses/MIT)
 */

/* layout */
div.jqcloud {
  overflow: hidden;
  position: relative;
  color:white;
}

div.jqcloud span {
  padding: 0;
}

/* fonts */
div.jqcloud {
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 8px;
  line-height: normal;
  color:white;
}

div.jqcloud a {
  font-size: inherit;
  text-decoration: none;
  color:white;
}

div.jqcloud span.w10 { font-size: 350%; }
div.jqcloud span.w9 { font-size: 300%; }
div.jqcloud span.w8 { font-size: 250%; }
div.jqcloud span.w7 { font-size: 200%; }
div.jqcloud span.w6 { font-size: 150%; }
div.jqcloud span.w5 { font-size: 100%; }
div.jqcloud span.w4 { font-size: 50%; }
div.jqcloud span.w3 { font-size: 200%; }
div.jqcloud span.w2 { font-size: 150%; }
div.jqcloud span.w1 { font-size: 100%; }

/* colors */
div.jqcloud { color: #09f; }
div.jqcloud a { color: inherit; }
div.jqcloud a:hover { color: #0df; }
div.jqcloud a:hover { color: #0cf; }
div.jqcloud span.w10 { color: #F44336; }
div.jqcloud span.w9 { color: #EF9A9A; }
div.jqcloud span.w8 { color: #D32F2F; }
div.jqcloud span.w7 { color: #B71C1C; }
div.jqcloud span.w6 { color: #FFCDD2; }
div.jqcloud span.w5 { color: #880E4F; }
div.jqcloud span.w4 { color: #D81B60; }
div.jqcloud span.w3 { color: #EC407A; }
div.jqcloud span.w2 { color: #EC407A; }
div.jqcloud span.w1 { color: #FCE4EC; }
