﻿@model AddressBookWebApp.Models.AddContactVM
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-xs-6">
        <h2>Add a Contact</h2>
        <form action="/Contact/PostContact" method="post">
            <div class="form-group">
                <label class="control-label">First Name</label>
                @Html.TextBoxFor(c => c.Contact.FirstName, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label class="control-label">Last Name</label>
                @Html.TextBoxFor(c => c.Contact.LastName, new { @class="form-control"})
            </div>
            <div class="form-group">
                <label class="control-label">Phone Number</label>
                @Html.TextBoxFor(c=>c.Contact.PhoneNumber, new { @class="form-control"})
            </div>
            <div class="form-group">
                <label class="control-label">Address</label>
                @Html.TextBoxFor(c=>c.Contact.Address, new { @class="form-control"})
            </div>
            <div class="form-gropu">
                <label class="control-label">Email</label>
                @Html.TextBoxFor(c=>c.Contact.Email, new { @class="form-control"})
            </div>

            <button class="btn btn-primary">Save</button>
        </form>
    </div>
</div>


