﻿@model AddressBookWebApp.Models.Contact
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-xs-6">
        <h2>Edit Contact</h2>
        @using (Html.BeginForm("Edit", "Movie", FormMethod.Post))
        {
            @Html.HiddenFor(c=>c.Id)
            <div class="form-group">
                <label class="control-label"></label>
            </div>
        }
    </div>
</div>


